/* styles.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


table {
    width: 40%;
    border-collapse: collapse;
    font-family: "Poppins-Bold";
    margin: auto;
}

div {
    width: 70%;
    height: 25%;
    border-collapse: collapse;
    padding-bottom: 20px;
    margin-bottom: 5px;
    margin-left: 380px;

}

tfoot td {
    background-color: #005b4d;
    color: white;


}

#header-section h2 {
    margin-top: 80px;
    padding-bottom: 80px;
    text-align: center;

}

div th {
    margin-bottom: 15px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;

}

#header-section th {
    background-color: #005b4d;
    color: white;
    margin-left: 510px;
}

div table {
    margin-left: 310px;

}

div #complete,
#edit,
#delete {
    padding: 15px 15px 15px;
    margin-top: 120px;
    background-color: #fa7d35;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    margin-inline: 10%;

}


.modal-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    min-height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(79, 79, 79, 0.7);
    z-index: 1;
    margin: 7% auto;
    visibility: hidden;
}

.modal-content {
    width: 450px;
    height: auto;
    padding: 25px;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
}

div .modal-content {

    margin-inline: 5%;

}

.modal-content h2 {
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 15%;

}

.modal-content p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 60px;
}

.close {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: #005b4d;
    cursor: pointer;
    margin-left: 150px;
}


.close p {
    color: #fff;
    font-weight: 400;
    padding-top: 8px;
}

.close:hover {
    background-color: #fa7d35;
}

footer {
    margin-top: 100px;
    margin-bottom: 100px;
}