/*check index.ccs for fonts and source styles*/

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*align-items: center;*/
    /* height: 100vh;
    width: 100vw; */
    align-items: center;
    background-color: #005b4d;

}
.main-container{
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    /* height: 70vh; */
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    max-width: 484px;
}

.main-container h1{
    font-family: "Poppins-Extrabold";
    color: #fa7d35;
    font-size: 33px;
}

.main-container img{
    width: 300px;
    height: 150px;
}

.main-container-inputs{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.5rem;
}

.main-container label{
    font-family: "Poppins-Bold";
    color: #005b4d;
}

.main-container input{
    outline: none;
    box-sizing: border-box;
    width: 250px;
    padding: 0 15px;
    font-size: 15px;
    border: 1px solid #005b4d;
    background-color: #005b4d33;
    color: #005b4d;
    /* opacity: 0.22;este atributo afecta tambien placeholder y color */

}

.main-container input::placeholder{
    color: #005b4d;
}

.main-container a{
    font-family: "Poppins-Bold";
    color: #818181;
    text-transform: none;
    line-height: 0.5;
}

#button-continue{
    font-family: "Poppins-bold";
    padding: 5px;
    width: 10rem;
    border: 1px solid #005b4d;
    border-radius: 20px;
    background-color: #005b4d;
    color: white;
}

#button-continue:hover{
    background-color: #fa7d35;
    border: 1px solid #fa7d35;
}

.reminder{
    margin-top: 25px;
    margin-bottom: 10px
}
