@font-face{
    font-family: "Poppins-Bold";
    src: url(/resources/fonts/Poppins-Bold.ttf) format(truetype);
}

@font-face {
    font-family: "Poppins-Extrabold";
    src: url(/resources/fonts/Poppins-ExtraBold.ttf) format(truetype);
}

@font-face {
    font-family: "Poppins-Medium";
    src: url(/resources/fonts/Poppins-Medium.ttf);
}

body{
    margin: 0;

}

header{
    display: flex;
    justify-content: center;
    margin: 0px 25px;
    align-items: center;
    gap: 7rem;
    padding: 15px 0 15px 0;
}

header li{
    display: inline;
    padding: 0 25px;  
    font-family: "Poppins-Bold"; /*¿tipografia correcta?*/
    color: #005b4d;
    letter-spacing: 1;
    text-transform: uppercase; 
}

#logo-cnp{
    height: 80px;
    width: 125px;
}

.logo-and-nav{
    display: flex;
    align-items: center;
}

.search-bar{
    width: 200px;
    border-radius: 7px;
    background-color: #fa7d35;
    opacity: 0.22;
    border: none;
}

#carrousel-image{
    height: 400px;
    width: 100%;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    padding: 60px 0 60px 0;
}

.container-left{
    width: 1000px;
}

.subcontainer-left{
    width: 72%;
}

.subcontainer-left p{
    font-family: "Poppins medium";
    font-size: 24.8px;
    color: #818181;
    text-align: justify;
}

main h1{
    font-family: "Poppins-Bold";
    font-size: 93;
    color: #005b4d;
    line-height: 1;
}

main h3{
    font-family: "Poppins-Extrabold";
    color: #fa7d35;
    font-size: 33px;
}

.bottom-right-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons{
    display: flex;
    align-items: center;
    gap: 3rem;
}

.buttons span{
    font-family: "Poppins-bold";
    border-radius: 20px;
    padding: 5px;
    width: 150px;
    color: white;
    text-align: center;
}

#supplier-button{
    background-color: #fa7d35;
}

#category-button{
    background-color: #005b4d;
}
