body{
    margin: 0;
}

header{
    display: flex;
    justify-content: center;
    margin: 0px 25px;
    align-items: center;
    gap: 7rem;
    padding: 15px 0 15px 0;
}

header li{
    display: inline;
    text-transform: uppercase; 
    padding: 0 25px;  
}

#logo-cnp{
    height: 80px;
    width: 125px;
}

.logo-and-nav{
    display: flex;
    align-items: center;
}

.search-bar{
    width: 200px;
    border-radius: 7px;
    background-color: rgb(236, 223, 202);
    border: none;
}

#carrousel-image{
    height: 400px;
    width: 100%;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    padding: 60px 0 60px 0;
}