@font-face{
    font-family: "Poppins-Bold";
    src: url(/resources/fonts/Poppins-Bold.ttf) format(truetype);
}

@font-face {
    font-family: "Poppins-Extrabold";
    src: url(/resources/fonts/Poppins-ExtraBold.ttf) format(truetype);
}

@font-face {
    font-family: "Poppins-Medium";
    src: url(/resources/fonts/Poppins-Medium.ttf);
}

/*body*/
body{
    margin: 0;
}

/*main*/
main h1{
    font-family: "Poppins-Bold";
    font-size: 93;
    color: #005b4d;
    line-height: 1;
}

main h3{
    font-family: "Poppins-Extrabold";
    color: #fa7d35;
    font-size: 33px;
}

/*header*/
header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 15px 2rem 15px 2rem;
}

/**/
header li{
    display: inline;
}

#logo-cnp{
    height: 80px;
    width: 125px;
}

.logo-and-nav{
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
    padding: 0 15px;  
    font-family: "Poppins-Bold"; /*¿tipografia correcta?*/
    color: #005b4d;
    letter-spacing: 0;
    text-transform: uppercase; 
}

#current-page{
    color: #fa7d35;
}

input{
    outline: none;
    box-sizing: border-box;
    height: 30px;
    width: 0;
    padding: 0 15px;
    color: #000;
    border-radius: 50px;
    font-size: 15px;
    border: 1px solid #fa7d35;
    transition: all .7s ease;
}

::placeholder{
    color: #818181;
}

.btn{
    position: absolute;
    right: 0;
    top: 2;
    width: 50px;
    height: 50px;
    background: #005b4d;
    line-height: -20px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s;
}

.btn i{
    font-size: 25px;
    color: #fa7d35;
    line-height: 55px;
    transition: all .7s ease;
}



/*carrousel*/
/*adapted from https://www.youtube.com/watch?v=XE0uQthmIuw*/
.slider-box{
    width: auto;
    height: auto;
    margin: 10px auto 0;
    overflow: hidden;
}

.slider-box ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 15s infinite alternate ease-in-out;
}

.slider-box li{
    width: 400%;
    list-style: none;
}

.slider-box img{
    width: 100%;
    height: 500px;
}

@keyframes slide {
    0% { margin-left: 0;}
    20% { margin-left: 0;}

    25% { margin-left: -100%;}
    45% { margin-left: -100%;}

    50% { margin-left: -200%;}
    70% { margin-left: -200%;}

    75% { margin-left: -300%;}
    100% { margin-left: -300%;}
}
/*after carrousel*/
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    padding: 0 0 60px 0;
}

.container-search-bar:hover input{
    width: 300px;
}

.container-left-section{
    width: 1000px;

}

.subcontainer-left{
    width: 72%;
}

.subcontainer-left p{
    font-family: "Poppins medium";
    font-size: 24.8px;
    color: #818181;
    text-align: justify;
}

.container-right-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons{
    display: flex;
    align-items: center;
    gap: 3rem;
}

.buttons span{
    font-family: "Poppins-bold";
    border-radius: 20px;
    padding: 5px;
    width: 10rem;
    color: white;
    text-align: center;
}

#supplier-button{
    background-color: #fa7d35;
}

#category-button{
    background-color: #005b4d;
}

/*footer*/
footer{
    background-color: white;
    display: flex;
    justify-content: right;
    font-family: "Poppins-Bold";
    padding-right: 50px;
    align-items: center;
    gap: 2rem;
    letter-spacing: 1;
    text-transform: uppercase; 
    color: #005b4d;
}

/*responsiveness*/
@media(max-width: 991px) { 
    footer{
        justify-content: center;
    }
}