header li{
    position: relative;
}
.search-bar-and-second-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.extra-menu-options{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    position: absolute;
    z-index: 1;
    left: 0;
}

.extra-menu-options li{
    background-color: #005b4d;
    color: white;
    padding: 1rem;
}



.extra-menu-options a{
    color: white;
}

header a:hover{
    color: #fa7d35;
}

header a{
    cursor: pointer;
}


.extra-menu-options-hidden{
    display: none;
}

/*container search bar*/
/*adapted from https://www.youtube.com/watch?v=bBZVb_r_enY&t=11s*/
.container-search-bar{
    transform:  translate(0, 0);
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.container-search-bar:hover input{
    width: 300px;
}

.container-search-bar:hover i{
    transform: rotate(-360deg);
}

/*responsiveness*/
@media(max-width: 991px) { 
    header{
        gap: 5rem;
    }
    
    header li{
        display: list-item;
    }
    
    header li::marker{
        color: #fa7d35;
    }

    .container-search-bar:hover input{
        width: 210px;
    }
    .container{
        flex-direction: column;
        text-align: center;
        gap: 0;
    }
    
    .subcontainer-left{
        width: auto;
        padding: 0 70px 0 70px;
    }

}