* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-card-register {
    width: 4000px;
    background-color: #005b4d;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: "Poppins-Bold";
    color: white;
    align-content: flex-start;
}

.form-card-register h3 {
    font-size: 30px;
    margin-bottom: 40px;
}

.controls {
    width: 10%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
    margin-top: 0.5%;
    font-size: 16px;
}

section img {
    height: 250;
    width: 240;
    margin-bottom: 50px;
}


section {
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
}

section .controls {
    outline: none;
    box-sizing: border-box;
    width: 360px;
    height: 50px;
    padding: 0 15px;
    font-size: 15px;
    color: black;
}


button {
    padding: 15px 15px;
    margin-top: 30px;
    margin-left: 700;
    background-color: #fa7d35;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    color: white;
    cursor: pointer;

}


.modal-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(79, 79, 79, 0.7);
    z-index: 1;
    visibility: hidden;
}

.modal-content {
    width: 450px;
    height: auto;
    padding: 25px;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    margin-inline: 38%;
    margin-top: 21%;

}

div .modal-content {
    align-items: center;
    align-content: center;
    position: absolute;
}

.modal-content h2 {
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 15%;

}

.modal-content p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 60px;
}

.close {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: #005b4d;
    cursor: pointer;
    margin-left: 150px;
}


.close p {
    color: #fff;
    font-weight: 400;
    padding-top: 8px;
}

.close:hover {
    background-color: #fa7d35;
}



footer {
    margin-top: 70px;
    margin-bottom: 100px;
}