body{
    height:100%;
}

main{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 1rem;
    gap: 2rem;
    margin-left: 1rem;
}

h2{
    margin-top: 0;
}

main i:hover{
    color: #005b4d;
}

table{
    
    border-collapse: collapse;
}

th{
    background-color: #005b4d;
    color: #fff;
    padding: 0.5rem;
}

td{
    padding: 0.5rem;
    border: 1px solid #000;
}

#filter-form h2{
    margin-top: 0;
    
}

#filter-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border: #000 1px solid;
    padding: 1rem;
    gap: 1.5rem;
}


#filter-form-info{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
}

#filter-form-info section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;

}

#table-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 5rem;
}

#header-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

#header-section p{
    margin: 0.5rem;
}

#tables-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 2rem;
    gap: 2rem;

}




#modal {
    display: none; /* By default the modal is not displayed */
    position: fixed; /* This will position the modal relative to the viewport */
    z-index: 1000; /* This will make sure the modal is on top of other content */
    left: 0;
    top: 0;
    width: 100%; /* This will make the modal take the full width of the viewport */
    height: 100%; /* This will make the modal take the full height of the viewport */
    overflow: auto; /* This will add scrollbars if the content is larger than the modal */
    background-color: rgba(0,0,0,0.4); /* This will give the modal a semi-transparent gray background */
}

/* The actual modal content */
#modal-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    background-color: #fefefe;
    margin: 15% auto; /* This will center the modal vertically */
    padding: 20px;
    border: 1px solid #888;
    width: 20%; /* This will make the modal content take 80% of the viewport's width */
}


#comment-section{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    
}


#modal h2{
    margin: 0;
}


.centered-td{
    text-align: center;
}

.modal-submitted-evaluation{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}

.product-img{
    width: 100%;
    height: 9rem;
    object-fit: cover;
}

.text-cell{
    max-width: 10rem;
}

.description-cell{
    max-width: 20rem;
}

.accept-button:hover{
    color: green;
}

.reject-button:hover{
    color: red;
}