<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CNP - La Feria en línea</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/formularioLogin.css">
    
</head>
<body>
    <header>
        <!--logo and nav-->
        <div class="logo-and-nav">
            <img id="logo-cnp" src="resources/images/home/logoCNP.png" alt="Logo del CNP" href="index.html">
            <nav id="first-nav">
                
            </nav>
        </div>
       
        <!--account and cart-->
        <nav id="second-nav" class="search-bar-and-second-nav">
             <!--search bar-->
            <nav class="container-search-bar" id="menu-search-bar">
                <input type="text" placeholder="Buscar" id="nav-search">
                <div class="btn-search">
                    <i class="fa fa-search"></i>
                </div>
            </nav>
        </nav>
    </header>
    <main>
        <!--login container-->
        <div class="main-container">
            <a href="/"><img id="logo-cnp" src="../resources/images/home/logoCNP.png" alt="Logo del CNP"></a>
            <div>
                <h1>Iniciar sesión</h1>
            </div>
            <div class="main-container-inputs">
                <label for="input-id">Número de identificación</label>
                <input type="text" placeholder="Identificación" id="input-id">
                <label for="input-password">Contraseña</label>
                <input type="text" placeholder="Contraseña" id="input-password">
            </div>      
            <span id="button-continue">Continuar</span>
            <div class="reminder">
                <a href="/restaurarContrasena"><p>¿Olvidaste tu contraseña?</p></a>
                <p onclick="showModal()">Crear una cuenta</p>
            <!-- <div class="radio-label">
                <input type="radio" name="accountType" value="vendedor" id="account-type">
                <label>Cliente</label>
            </div>
            <div class="radio-label">
                <input type="radio" name="accountType" value="comprador" id="account-type">
                <label>Vendedor</label>
            </div> -->
            <div id="modal" class="modal-container" onclick="closeModal(event)">
                <div id="modal-content">
                    <h3>Selecciona el tipo de cuenta</h3>
                    <div class="radio-label">
                        <input type="radio" name="accountType" value="cliente" checked>
                        <label>Cliente</label>
                    </div>
                    <div class="radio-label">
                        <input type="radio" name="accountType" value="vendedor">
                        <label>Vendedor</label>
                    </div>
                    <button onclick="goToNewAccount()">Crear cuenta</button>
                </div>
            </div>
        </div>
    </main>
    <!-- <footer>
        <p>Seguinos en</p>
        <i class="fa-brands fa-facebook fa-xl"></i>
        <i class="fa-brands fa-square-instagram fa-xl"></i>
    </footer> -->
</body>
<script src="https://kit.fontawesome.com/ec009b7d90.js" crossorigin="anonymous"></script>
<script src="js/formularioLogin.js"></script>
<script src="js/mainMenu.js"></script>
   
</script>

</html>


