<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CNP - La Feria en línea</title>
    <link rel="stylesheet" href="../css/main.css">
   <link rel="stylesheet" href="../css/UserProfile.css">
</head>
<body>
    <header>
        <!--logo and nav-->
        <div class="logo-and-nav">
            <img id="logo-cnp" src="../resources/images/home/logoCNP.png" alt="Logo del CNP" href="index.html">
            <nav id="first-nav"></nav>
        </div>  
        <!--account and cart-->
        <nav id="second-nav" class="search-bar-and-second-nav">
             <!--search bar-->
            <nav class="container-search-bar" id="menu-search-bar">
                <input type="text" placeholder="Buscar" id="nav-search">
                <div class="btn-search">
                    <i class="fa fa-search"></i>
                </div>
            </nav>
        </nav>
    </header>
    <!--main-->
    <main>
        <section id="form-background">
           
            <div class="main-container">
                <!--heading-section-->
                <div class="heading-section">
                    <!--photo-->
                    <div class="photo-section">
                        <img src="../resources/images/home/lupa.png" style="width: 10rem; height: 12rem; border: solid 0.1rem red;" alt="">
                        <h3 id="user-type"></h3>
                        <button id="btn-change-password">Cambiar contraseña</button>
                    </div>
                    <!--tramo-name-->
                    <div class="tramo-name-section">
                        
                        <h2 id="user-name"></h2>
                        <h3 id="tramo-name"></h3>
                        <p id="identification-number"></p>
                    </div>
                </div>
                <!--edit-box-section-->
                <div class="edit-box-section">
                    <form id="edit-profile" action="">
                        <h3>Editar perfil</h3>
                        <div>
                            <div class="input">
                                <label for="name">Nombre:</label>
                                <input class="edit-input" type="text" id="name">
                            </div>
                            <p class="helper" id="name-helper"></p>
                        </div>
                        <div>
                            <div class="input">
                                <label for="last-name">Apellido(s):</label>
                                <input class="edit-input" type="text" id="last-name">
                            </div>
                            <p class="helper" id="last-name-helper"></p>
                        </div>
                        <div id="div-input-tramo-name">
                            <div class="input">
                                <label for="tramo-name">Nombre del tramo:</label>
                                <input class="edit-input" type="text" id="input-tramo-name">
                            </div>
                            <p class="helper" id="input-tramo-name-helper"></p>
                        </div>
                        <div>
                            <div class="input">
                                <label for="phone-number">Número de teléfono:</label>
                                <input class="edit-input" type="number" id="phone-number">
                            </div>
                            <p class="helper" id="phone-helper"></p>
                        </div>
                        <div>
                            <div class="input">
                                <label for="email">Correo electrónico:</label>
                                <input class="edit-input" type="email" id="email">  
                            </div>
                            <p class="helper" id="email-helper"></p>
                        </div>
                        <div id="input-address">
                            <div class="input">
                                <label for="address">Dirección:</label>
                                <input class="edit-input" type="text" id="address">
                            </div>
                            <p class="helper" id="address-helper"></p>
                        </div>
                        <div id="edit-button">
                            <button>Guardar</button>    
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <section id="developed-by">
          <p><a href="/sobreNosotrosTech">Desarrollado por Technoware</a></p>
        </section>
        <section id="follow-us">
          <p>Seguinos en</p>
          <i class="fa-brands fa-facebook fa-xl"></i>
          <i class="fa-brands fa-square-instagram fa-xl"></i>
        </section>
      </footer>
</body>
<script src="https://kit.fontawesome.com/ec009b7d90.js" crossorigin="anonymous"></script>
<script src="../js/mainMenu.js"></script>
<script src="../js/UserProfile.js"></script>

</html>