<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CNP - La Feria en línea</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/reporteUsuariosAdmin.css">
</head>
<body>
    <header>
        <!--logo and nav-->
        <div class="logo-and-nav">
            <a href="/"><img id="logo-cnp" src="../resources/images/home/logoCNP.png" alt="Logo del CNP"></a>

            <nav id="first-nav">
                
            </nav>
        </div>
       
        <!--account and cart-->
        <nav id="second-nav" class="search-bar-and-second-nav">
             <!--search bar-->
            <nav class="container-search-bar" id="menu-search-bar">
                <input type="text" placeholder="Buscar" id="nav-search">
                <div class="btn-search">
                    <i class="fa fa-search"></i>
                </div>
            </nav>
        </nav>
    </header>
    <main>
        <!-- Aqui va el código -->
        <div class="main-container">
            <div id="filter-section">
                <form id="filter-form">
                    <h3>Filtro</h3>
                    <div id="filter-form-info">
                        <section>
                            <label for="estado-select">Estado:</label>
                            <label for="tipo-select">Tipo:</label>
                        </section>
                        <section>
                            <select id="estado-select">
                                <option value=""></option>
                                <option value="activo">Activo</option>
                                <option value="pendiente">Pendiente</option>
                                <option value="inactivo">Inactivo</option>
                            </select>
                            <select name="Tipo de usuario" id="tipo-select">
                                <option value=""></option>
                                <option value="admin">Administrador</option>
                                <option value="vendedor">Vendedor</option>
                                <option value="cliente">Cliente</option>
                            </select>
                        </section>
                    </div>
                    <section id="filter-buttons">
                        <button type="button" onclick="loadTable()">Filtrar</button>
                        <button type="button" onclick="loadPage()">Borrar</button>
                    </section>
                </form>        
            </div>
            <div class="tabla">
                <h2>Reporte de Usuarios</h2>   
                <table>
                    <thead>
                        <tr>
                            <th>Tipo de usuario</th>
                            <th>Nombre de Usuario</th>
                            <th>Id de Usuario</th>
                            <th>Estado</th>
                            <th>Tramo</th>
                            <th>Correo electrónico</th>
                            <th>Teléfono</th>
                        </tr>
                    </thead>
    
                    <tbody id="tablereport">
    
                    </tbody>
                </table>
 
            </div>
        </div>
        
        
    </main>
    <footer>
        <section id="developed-by">
          <p><a href="/sobreNosotrosTech">Desarrollado por Technoware</a></p>
        </section>
        <section id="follow-us">
          <p>Seguinos en</p>
          <i class="fa-brands fa-facebook fa-xl"></i>
          <i class="fa-brands fa-square-instagram fa-xl"></i>
        </section>
      </footer>
</body>
<script src="https://kit.fontawesome.com/ec009b7d90.js" crossorigin="anonymous"></script>
<script src="../js/mainMenu.js"></script>
<script src="../js/reporteUsuariosAdmin.js"></script>
</html>