
.popup {
    background-color: white;
    border-radius: 10px;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 1rem;
    max-width: 484px;
    position: relative;
}

.popup h2 {
    font-family: "Poppins-Medium", sans-serif;
    font-size: 24px;
    margin-top: 1rem;
    color: #005b4d;
    margin-bottom: 1rem;
    
}

.popup .reset-text {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: #818181;
    margin-top: 0rem;
}

.popup .email-label,
.popup .confirm-label {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    margin: 0;
    align-self: flex-start;
    margin-left: 3rem;
    color: #818181;
}

.popup input {
    outline: none;
    box-sizing: border-box;
    width: 80%;
    padding: 0.5rem;
    font-size: 14px;
    border: 1px solid #818181;
    border-radius: 10px;
    color: #818181;
}

.popup input::placeholder {
    color: #818181; 
    opacity: 1; 
}

.popup button {
    padding: 0.75rem 1.25rem; 
    font-size: 14px; 
    border: none;
    border-radius: 30px;
    background-color: #005b4d;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 15px;
}

.popup button:hover {
    background-color: #fa7d35;
    border: 1px solid #fa7d35;
    color: #fff;
}


#form-background{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #005b4d;
    width: 100%;
    height: 78%;
}
