/*check index.ccs for fonts and source styles*/

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*align-items: center;*/
    /* height: 100vh;
    width: 100vw; */
    align-items: center;
    background-image: url(../resources/back-01.png);
    background-size: cover;
    padding-top: 3rem;
    padding-bottom: 3.3rem;
}
.main-container{
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    /* height: 70vh; */
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    max-width: 484px;
}

.main-container p{
    font-family: "Poppins-Bold";
    color: #818181;
    text-transform: none;
    line-height: 0.5;
    margin-top: 0;
}

.main-container p:hover{
    color: #fa7d35;
}

.main-container h1{
    font-family: "Poppins-Extrabold";
    color: #fa7d35;
    font-size: 25px;
    margin-top: 1rem;
}

.main-container img{
    width: 15rem;

}

.main-container-inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.main-container label{
    font-family: "Poppins-Bold";
    color: #005b4d;
}

.main-container input{
    outline: none;
    box-sizing: border-box;
    width: 250px;
    padding: 0 15px;
    font-size: 15px;
    border: 1px solid #005b4d;
    background-color: #cfdbd8;
    color: 005b4d;
    font-family: 'Poppins-Light';
}

.main-container input::placeholder{
    color: 005b4d;
}

.main-container a{
    font-family: "Poppins-Bold";
    color: #818181;
    text-transform: none;
    line-height: 0.5;

}

#button-continue{
    font-family: "Poppins-bold";
    padding: 5px;
    width: 10rem;
    border: 1px solid #005b4d;
    border-radius: 20px;
    background-color: #005b4d;
    color: white;
    margin-top: 1rem;
}

#button-continue:hover{
    background-color: #fa7d35;
    border: 1px solid #fa7d35;
}

.reminder{
    margin-top: 1rem;
    margin-bottom: 10px
}


.radio-label {
    display: flex;
    align-items: center;
    align-content: center;
    align-self: center;
    margin-bottom: 0.1rem; 
    margin-left: -1.8rem;
    
}

.radio-label input[type="radio"] {
    margin-right: 0.003rem;  
}

.radio-label label {
    font-size: 14px;  
    font-family: "Poppins-Medium";
}

.radio-label input[type="radio"] {
    margin-right: 0.003rem;  
    vertical-align: center;  
}

.radio-label label {
    font-size: 16px;  
    vertical-align: center;  
    color: #818181;
}

.radio-label input[type="radio"] {
    /* transform: scale(0.4);   */
    margin-right: -7rem;  

}


.main-container-inputs {
    display: flex;
    justify-content: center; 
}

.radio-container {
    display: flex;
    justify-content: center; 
}


#modal {
    display: none; /* By default the modal is not displayed */
    position: fixed; /* This will position the modal relative to the viewport */
    z-index: 1000; /* This will make sure the modal is on top of other content */
    left: 0;
    top: 0;
    width: 100%; /* This will make the modal take the full width of the viewport */
    height: 100%; /* This will make the modal take the full height of the viewport */
    overflow: auto; /* This will add scrollbars if the content is larger than the modal */
    background-color: rgba(0,0,0,0.4); /* This will give the modal a semi-transparent gray background */
}

/* The actual modal content */
#modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* This will center the modal vertically */
    padding: 20px;
    border: 1px solid #888;
    width: 20%; /* This will make the modal content take 80% of the viewport's width */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
#modal-content h3{
    margin-bottom: 1rem;
}

#modal-content button{
    margin-top: 1rem;
}
