

main label{
    font-family: "Poppins-Medium";
    font-size: 16px;
    color: #818181;

}

main p{
    font-family: "Poppins-Medium";
    font-size: 16px;
    color: #818181;

}

.main-container{
    margin: 4rem 0;
    padding: 0 50px;
    background-color: white;
    border-radius: 20px;
    /* box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); */
    /* height: 70vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.heading-section{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    gap: 1rem;
}

.photo-section{
    text-align: center;
    margin-top: 2rem;
}

.edit-box-section{
    margin: 1rem 0 2rem 0;
    padding: 0 25px 0 25px;
    width: 600px; 
    text-align: left;
    border: solid #fa7d35;
}

.input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    padding-bottom: 5%;  
}

.helper{
    display: none;
}

input:not([type='checkbox']):not(#nav-search) {
    width: 70%;
}

#edit-button{
    text-align: right;
}
#form-background{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #005b4d;
    width: 100%;
}